<div id="imprint">
  <h2>
    <%= title %>
  </h2>
  <p>
    <%= firstReleaseDate %> 初版</p>
  <table>
    <tr>
      <th>著者</th>
      <td>
        <%= author %>
      </td>
    </tr>
    <tr>
      <th>発行所</th>
      <td>
        Flight Books（フライトブックス）
        <br />https://flightbooks.pub/
      </td>
    </tr>
    <tr>
      <th>印刷</th>
      <td>
        <%= printAt %>
      </td>
    </tr>
  </table>

  <p>
    <%= copyright %>
  </p>
  <div class="service">
    <img src="https://storage.googleapis.com/flightbooks-a72f0.appspot.com/logo.png" width="200px" />
    <br />
    <small>本書はFlight Booksを用いて制作されました。</small>
  </div>
</div>